body {
    font-size: 14px;
    line-height: 1.42857;
    color: black;
    background-color: white;
}

ul {
    list-style-type: none;
}

li {
    float: left;
}

font-family: Lato,
sans-serif;
h1,
h2,
h3,
h4 {
    font-family: Helvetica, Montserrat, sans-serif;
    font-weight: 700;
    line-height: 1.1;
    color: #444;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
}

h2 {
    font-size: 2em;
    margin-top: 10px;
}

h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

h4 {
    font-size: 1em;
}

.h4_olympic {
    font-weight: 100px;
    padding-left: 13px;
}

.h4_olympic_address {
    font-weight: 100px;
    padding-left: 13px;
}

.index_position_address {
    font-size: 0.9em;
}

.mt-5 {
    margin-bottom: 50px;
}

margin-top: 2rem !important;
.navbar {
    background-color: white;
    border-bottom: solid darkgray 0.5px;
    color: black;
}

.navbar a {
    color: #c12209;
    font-weight: 500;
}

.paragraph {
    font-family: open-sans, helvetica;
    font-weight: 300;
    text-align: justify;
    width: 65%;
    max-width: 960px;
    margin-top: 50px;
    margin: auto;
}

.navbar {
    background-color: white;
    color: black;
    a {
        color: black;
    }
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.navbar-toggler {
    border: 1px solid black;
    padding: 9px 10px;
}

.navbar-toggler-right {
    position: absolute;
    /* float: right; */
    right: 7px;
    top: 20px;
}

.navbar-toggler .icon-bar {
    background-color: #000;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggler-icon {
    background-color: transparent;
    display: none;
}

.navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.btn-primary {
    color: #fff;
    background-color: #385b91;
    border-color: #385b91;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    font-size: 12px;
    padding-top: 10px;
}

.footerrelative {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    font-size: 12px;
    padding-top: 10px;
    margin-top: 15px;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none;
}

.homepage_copy {
    margin: auto;
}

.entrance {
    margin-bottom: 100px;
}

.contact_olympic {
    margin: auto;
    padding-top: 15px;
}

.text-center {
    margin-bottom: 50px;
}

.btn-primary {
    color: #fff;
    background-color: #0b367c;
    border-color: #0b367c;
}

.btn-lg {
    padding: .55rem 1rem;
    font-size: 1rem;
    border-radius: .3rem;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.footer_index {
    background-color: #f4f4f4;
}

.olympic {
    color: white;
    background-image: url("../image/track_grey.jpg");
    padding: 100px 0px;
    margin: 0 !important;
    width: 100%;
    height: 60px;
    text-align: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-block {
    margin: auto;
    width: 65%;
}

.box {}

.projecttext {
    width: 100%;
    text-align: justify;
    font-weight: 300;
}

.video {
    width: 100%;
    padding-bottom: 10px;
}

.projectimg {
    width: 100%;
    height: 170px;
    padding-bottom: 10px;
}

.project_title {
    padding-top: 5px;
    color: darkblue;
    margin-bottom: 3px;
    font-size: 1.1rem;
}

.get_in_touch {
    margin-bottom: 20px;
}

.olympic_h3 {
    color: #385b91;
    font-size: 20px;
    padding-left: 13px;
}

.intouch {
    margin-top: 60px;
}

.align_left {
    text-align: left;
}

.padding_left {
    padding-left: 80px;
}

.logo_position {
    margin-top: 60px;
}

.logo_position_vertical {
    text-align: left;
    margin-top: -50px;
}

.logo_size {
    width: 110%;
    height: auto;
}

img.logo_size {
    width: 130%;
    height: auto;
}

.helptext {
    margin-top: 25px;
}

.text_bottom {
    margin-top: 450px;
}

.pull_right {}

.small_container {
    width: 80%;
    margin: auto;
    padding-top: 20px;
    font-family: open-sans, helvetica;
    font-weight: 300;
}

.about_title {
    text-align: right;
    font-weight: 700;
}

.btn-primary:hover {
    color: #fff;
    background-color: #5279b7;
    border-color: #5279b7;
}

.index_position_duo {
    margin-top: 272px;
    font-weight: 600;
}

.index_position_address {
    margin-top: 20px;
    font-weight: 300;
}

.index_position_text {
    margin-top: 20px;
    font-weight: 300;
}

.index_a {
    font-size: 18px;
    color: #c12209;
    font-weight: 600;
}

.small_container {
    width: 70%;
}

.about_text {
    font-family: open-sans, helvetica;
    font-weight: 300;
}

.icon-bar {
    color: black;
    border-color: black;
    background-color: black;
}

//**.navbar-light .navbar-toggler-icon {
background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='48' height='36' viewBox='0 0 48 36' fill='rgb(28,28,28)'%3E%3Crect x='16' y='12' width='16' height='2' /%3E%3Crect x='16' y='17' width='16' height='2' /%3E%3Crect x='16' y='22' width='16' height='2' /%3E%3C/svg>");

}
** //