//Colors
$white: #fff;
$gray-light: #e6e8ed; 
$gray-dark: #444; 
$text-color: #664; 
$darkred: #c12208; //navbar text color

//
$navbar-text-color: $darkred;

//Scaffolding
$body-bg: $gray-light; //background color for body

//Typography
$font-family-base: helvetica, Lato, sans-serif; ; // font stack for Lato web font
$font-family-headings: Montserrat, sans-serif; // font stack for Montserrat
$font-size-base: 14px; // same as Bootstrap default
$font-size-h1: 4em; // 4x base 
$font-size-h2: 2em; // 2x base
$font-size-h3: 1.3em; // 1.3x base
$font-size-h4: 1em; // 1x base (same size)
$line-height-base: 1.428571429; // same as Bootstrap default
$headings-font-weight: 700;
$headings-line-height: 1.1;
$headings-color: $gray-dark;
